* {
  margin: 0;
  padding: 0;
}

header {
  background-color: darkgoldenrod;
  color: white;
}

header h1 {
  text-align: center;
  font-size: 35px;
  font-family: 'Segoe UI';
  margin-top: 10px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}