* {
  margin: 0;
  padding: 0;
}

header {
  background-color: crimson;
  color: white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-align: center;
  font-size: 35px;
  font-family: "JetBrains Mono", monospace;
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-style: italic;
  font-size: 18px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

img {
  width: 100%;
  height: 340px;
  object-fit: cover;
}

.sobre-nos{
  width:80%;
  text-align: center;
}