* {
  margin: 0;
  padding: 0;
}

header {
  background-color: darkgoldenrod;
  color: white;
  height: 100px;
}

header h1 {
  text-align: center;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}